<%- include('includes/head.ejs', { title: 'Discussion' }) %>
<link rel="stylesheet" href="/styles/forms.css">
</head>
<body>
  <%- include('includes/header.ejs') %>
  <main>
    <h1>Discuss!</h1>
    <section>
      <ol>
        <!-- ejs에서는 <%- %> 태그를 사용하면 HTML 파일이 파싱된다. -->
        <!-- 그러므로 <%=  %> 등호를 사용해야 문자열로 되고 사용자 입력부분은 꼭 반드시 등호를 이용해야한다. (이스케이프 처리) -->
        <% for (const comment of comments) { %>
          <li>
            <%= comment.text %>
          </li>
        <% } %>
      </ol>
    </section>
    <section>

      <form action="/discussion/comment" method="POST">
        <div class="form-control">
          <label for="comment">My Comment</label>
          <textarea name="comment" id="comment" rows="5"></textarea>
        </div>
        <button class="btn">Send</button>
      </form>
    </section>
  </main>
</body>
</html>