<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
    <link rel="stylesheet" href="/styles/restaurants.css" />
  </head>
  <body>
    <%- include('includes/header') %> <%- include('includes/side-drawer') %>
    <main>
      <h1>Recommended restaurants</h1>

      <% if(numberOfRestaurants === 0){ %>
      <p>검색 결과가 없습니다. 다시 시도하세요.</p>
      <% } else{ %>

      <p>Find your next favorite restaurants with help of our other users!</p>
      <p>We found <%= numberOfRestaurants %> restaurant</p>
      <form action="/restaurants" method="GET">
        <input type="hidden" value="<%= nextOrder  %>" name="order" />
        <button class="btn" type="submit">순서 변경</button>
      </form>
      <ul id="restaurants-list">
        <% for(const restaurant of restaurants){ %> <%-
        include('includes/restaurants/restaurant-item', {restaurant:
        restaurant}) %> <% } %>
        <!-- 반드시 키값을 넣어줘야한다. -->
      </ul>
      <%}%>
    </main>
  </body>
</html>
